<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="first_name" name="first_name">
        <input type="text" placeholder="last_name" name="last_name">
        <button type="submit">FILTER</button>
    </form>
    <br>
    <table border="1">
        <tr>
            <td>first_name <a href="?filter=first_name_up">↑ </a><a href="?filter=first_name_down">↓</a></td>
            <td>last_name <a href="?filter=last_name_up">↑ </a><a href="?filter=last_name_down">↓</a></td>
            <td>age <a href="?filter=age_up">↑ </a><a href="?filter=age_down">↓</a></td>
            <td>date_of_birth <a href="?filter=date_of_birth_up">↑ </a><a href="?filter=date_of_birth_down">↓</a></td>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{customer.user.first_name}}</td>
            <td>{{customer.user.last_name}}</td>
            <td>{{customer.age}}</td>
            <td>{{customer.date_of_birth}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>