<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="first_name" name="first_name">
        <input type="text" placeholder="last_name" name="last_name">
        <button type="submit">FILTER</button>
    </form>
    <table border="1">
        <tr>
            <td><a href="?filter=first_name">first_name</a></td>
            <td><a href="?filter=last_name">last_name</a></td>
            <td><a href="?filter=age">age</a></td>
            <td><a href="?filter=date_of_birth">date_of_birth</a></td></tr>
        {% for customer in customers %}
        <tr>
            <td>{{customer.user.first_name}}</td>
            <td>{{customer.user.last_name}}</td>
            <td>{{customer.age}}</td>
            <td>{{customer.date_of_birth}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>