<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <img src="{{ object.photo.photo.url }}" alt="img"><br>
    Username - {{object.user.username}}<br>
    First Name - {{object.user.first_name}}<br>
    Last Name - {{object.user.last_name}}<br>
    Email - {{ object.user.email }}<br>
    Age - {{object.age}} <br>
    Date of birth - {{object.date_of_birth}}<br>
    <br>
    {% if user.is_staff %}
        <a href="{{delete_url}}">Want to delete account?</a>
        <br>
    {% endif %}
    <br>
    <a href="{{logout_url}}">Want to logout?</a>
</body>
</html>
