<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <img src="{{ object.customer.photo.photo.url }}" alt="img"><br>
    {{object.username}}<br>
    {{object.first_name}}<br>
    {{object.last_name}}<br>
    {{object.customer.age}}<br>
    {{object.customer.date_of_birth}}<br>
    <br>
    {% if user.is_staff %}
        <a href="{{delete_url}}">Удалить профиль?</a>
    {% endif %}
    <br>
    <a href="{{logout_url}}">Хотите выйти из аккаунта?</a>
</body>
</html>
