<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    {% if user.is_authenticated %}
        <a href="{{ customers_list_url }}">Список всех клиентов</a><br>
        <a href="{{ customers_voting_url }}">Страница голосования</a><br>
        <a href="{{ customers_detail_url }}">Ваша страница</a><br>
    {% endif %}
    {% if user.is_staff %}
        <a href="{{ customers_create_url }}">Страница создания клиента</a><br>
    {% endif %}
    <a href="{{ customers_auth_url }}">Страница авторизации</a>
</body>
</html>