<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    {% if user.is_authenticated %}
        <a href="{{ list_url }}">List of all customers</a><br>
        <a href="{{ voting_url }}">Voting page</a><br>
        <a href="{{ detail_url }}">Your account's page</a><br>
    {% endif %}
    {% if user.is_staff %}
        <a href="{{ create_url }}">Customers create page</a><br>
    {% endif %}
    <a href="{{ auth_url }}">Auth page</a>
</body>
</html>
